.title {
    text-align: center;
}

.container {
    display: block;
    width: 100%;
}

input{
    text-align: center;
}

.matrix-input{
    display: inline-block;
    width: 75px;
}

.input-grid {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.controls {
    display: flex;
    justify-content: center; /* Центрируем группу */
    gap: 40px; /* Расстояние между "Поставщиками" и "Потребителями" */
    margin-bottom: 20px;
}

.control-row {
    text-align: center;
}

.left-content {
    width: 100%;
    max-width: 500px; /* например */
}

.left-panel {
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
.right-panel {
    width: 50%;
    float: right;
    display: flex;
    vertical-align: top;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}


.matrix-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    gap: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.supplies,
.needs,
.matrix {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.cell {
    width: 50px;
    text-align: center;
    box-sizing: border-box;
}

.submit-btn {
    padding: 10px 20px;
    font-size: 16px;
}

.input-val{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.result-table,
.history-table {
    border-collapse: collapse;
    width: 100%;
}

.result-table td,
.history-table td {
    padding: 8px;
    border: 1px solid #ccc;
}

.history-table tr {
    cursor: pointer;
    padding-bottom: 50px;
}

.history-table tr:hover {
    background-color: #f0f0f0;
}

.no-point,
.no-point:hover {
    cursor: default !important;
    background-color: transparent !important;
}

.history-table thead tr th {
    background-color: #f9f9f9;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #ccc;
    padding: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

td{
    text-align: center;
}